    body{
        background-color: #ccc;
    }

    a{
        text-decoration: none;
    }

    p>a {
        background-color:yellowgreen;
        color:blue;
    }

    div.first-div>a{
        color:magenta;
    }

    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul>li{
        padding: 10px 20px;
        background-color: yellow;
    }

    ul>li:hover{
        background-color: yellowgreen;
        border-radius: 25px;
        transition: 5s;
    }

    ul>li>a {
        color:red;
        font-size: 25pt;
        display: block;
    }

    


