/* *{
    margin: 0;
    padding: 0;
} */

body{
    background-color: rgb(245, 239, 239);
}
.header{
    border: 1px solid green;
}
.header ul {
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
}
.header ul li a{
    margin: 10px 20px;
    color: green;
    text-decoration: none;
}
.main{
    display: flex;
    border:1px solid orange;
}
.asite{
    width: 30%;
    height: 400px; 
}
.asite ul li{
    list-style: none;
    
}
.asite ul li a{
    text-decoration: none;
    margin:20px 10px;
    padding:40px 20px;
}

.content{
    width: 70%;
    height: 400px;
    background-color:cyan;
}
.form{
    border: 2px solid gray;
    padding: 20px;
}
.form h2{
    display: flex;
    justify-content:center;
}
#fname{
    margin-left: 10px;
    margin-bottom: 20px;
}
#lname{
    margin-left: 10px;
}
#email{
    margin-left: 40px;
    margin-bottom: 20px;
}
#birthday{
    margin-bottom: 20px;
    margin-left: 22px;
}
#age{
    margin-left: 50px;
    margin-bottom: 20px;
}
.footer{
    border:1px solid blue;
    background-color:salmon;
    padding: 10px 20px;
}
.footer p{
    display: flex;
    justify-content:center;
}
